<p>
  edit-course works!
</p>

<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit Details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="mainForm" (ngSubmit)="onSubmit()" >

    <!-- Name Input Control -->
    <div class="form-group">
      <label for="name"> Course Name : </label>
      <input id="name" type="text" formControlName="name" class="form-control">


<!-- leave out the validaion for now -->
      <!-- <div *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)" class="alert alert-danger">
      <div *ngIf="firstName.hasError('required')">First Name is required</div>
      <div *ngIf="firstName.hasError('minlength')">First name has a minimum length</div>
      <div *ngIf="firstName.hasError('pattern')">Letters a-z onlys</div>
  </div> -->
    </div>

    <!-- Price input conrol -->
    <div class="form-group">
      <label for="price">
        Price: </label>
      <input type="text" id="price" formControlName="price" class="form-control">
    </div>

    <!-- The part for adding Categories -->

    <fieldset>
      <legend>Categories</legend>

      <div formArrayName="categories">


        <div *ngFor="let category of categories.controls; let i=index">
          <!-- The repeated interest template -->
          <label>
            Category {{i+1}}:
            <input type="text" [formControlName]="i">
          </label>
        </div>

        <!-- The button for adding another interest -->
        <button class="btn btn-sm" type="button" (click)="addCategory()">+ Category</button>
      </div>

    </fieldset>
  
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" >Save Edits</button>
    </div>

  </form>
</div>
